<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/styles.css"/>

  <link href="/assets/css/a11y-dark.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/assets/highlight.pack.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <script>
    $(document).ready(function() {
      hljs.configure({useBR: true});hljs.initHighlightingOnLoad();

      $('.element-arrow-icon, .faq-arrow-icon').click(function(e){
        var start = $(this).hasClass('element-arrow-icon') ? 'element-' : '';
        if($(this).hasClass(start+'arrow-down')){
          $(this).removeClass(start+'arrow-down').addClass(start+'arrow-up')
        }
        else if($(this).hasClass(start+'arrow-up')){
          $(this).removeClass(start+'arrow-up').addClass(start+'arrow-down')
        }
      })

      $('#expand-all').click(function() {
        console.log('hey dummy')
        if($(this).hasClass('open')){
          $('.collapse').collapse('hide');
          $(this).removeClass('open').addClass('closed');
        } else {
          $('.collapse').collapse('show');
          $(this).removeClass('closed').addClass('open');
        }
      });

      var accordion_ids=Cookies.get('accordionDisplay');
      if (accordion_ids!=null) {
          //show the open_accordions visible group
          $(accordion_ids).collapse("show");
      }

      $(document).on('shown.bs.collapse hidden.bs.collapse', function() {
        var active_accs = $("div.elements.collapse.show[id^=collapse]")
        var active_ids = $.map(active_accs, function(ele){
          return '#' + ele.id;
        }).join(',');

        Cookies.set('accordionDisplay', active_ids)
      });
    });

  </script>

  {% feed_meta %}
  {% seo %}
</head>
