<header>
  <nav class="primary_nav_container navbar navbar-expand-xl navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xs navbar-light bg-light" style="min-height:9em;height:9em;">

    <div class="navbar-collapse" id="navbarNavDropdown">

      <div style="margin-left:5.7%; margin-bottom:2.0%;overflow-y:visible; z-index: 10000;">
          <a href="{{ site.url }}"><img src="/assets/images/pbcore-logo.png" alt=""></a>
      </div>
      <ul style="margin-left:6.1%; bottom: 0; position: absolute;" class="navbar-nav">

        <li class="nav-item dropdown menu_about">

          <a class="nav-link" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
            About
          </a>

          <div class="dropdown-menu menu_about" aria-labelledby="navbarDropdownMenuLink">
            {% for item in site.data.nav.toc %}
              {% if item.title == "About" %}
                {% for entry in item.subfolderitems %}
                  <a class="dropdown-item" href="{{ site.url }}/{{entry.url | remove: "/"}}">{{ entry.page }}</a>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </li>

        <li class="nav-item dropdown menu_schema">

          <a class="nav-link" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
            Schema
          </a>

          <div class="dropdown-menu menu_schema" aria-labelledby="navbarDropdownMenuLink">
            {% for item in site.data.nav.toc %}
              {% if item.title == "Schema" %}
                {% for entry in item.subfolderitems %}
                  <a class="dropdown-item" href="{{ site.url }}/{{entry.url | remove: "/"}}">{{ entry.page }}</a>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </li>

        <li class="nav-item dropdown menu_resources">
          <a class="nav-link" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
            Resources
          </a>
          <div class="dropdown-menu menu_resources" aria-labelledby="navbarDropdownMenuLink">
            {% for item in site.data.nav.toc %}
              {% if item.title == "Resources" %}
                {% for entry in item.subfolderitems %}
                  <a class="dropdown-item" href="{{ site.url }}/{{entry.url | remove: "/"}}">{{ entry.page }}</a>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </li>

        <li class="nav-item dropdown menu_community">
          <a class="nav-link" data-toggle="dropdown" role="button" href="#" aria-haspopup="true" aria-expanded="false">
            Community
          </a>
          <div class="dropdown-menu menu_community" aria-labelledby="navbarDropdownMenuLink">
            {% for item in site.data.nav.toc %}
              {% if item.title == "Community" %}
                {% for entry in item.subfolderitems %}
                  <a class="dropdown-item" href="{{ site.url }}/{{entry.url | remove: "/"}}">{{ entry.page }}</a>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>
        </li>

      </ul>
    </div>
  </nav>

</header>
