<p class="sample-rec-wide {% if page.url == '/sample-records/collection.html' %}highlight{%endif%}">
  <a href="/sample-records/collection">Collection</a>
</p>
<p class="sample-rec-wide {% if page.url == '/sample-records/description-document-with-instantiations.html' %}highlight{%endif%}">
  <a href="/sample-records/description-document-with-instantiations">Description Document With Instantiations</a>
</p>
<p class="sample-rec-wide {% if page.url == '/sample-records/description-document.html' %}highlight{%endif%}">
  <a href="/sample-records/description-document">Description Document</a>
</p>
<p class="sample-rec-wide {% if page.url == '/sample-records/instantiation.html' %}highlight{%endif%}">
  <a href="/sample-records/instantiation">Instantiation</a>
</p>
