<p class="sample-rec-wide {{ if page.url == '/collection' }}highlight{{end}}">
  <a href="/sample-records/collection">Collection</a>
</p>
<p class="sample-rec-wide {{ if page.url == '/description-document-with-instantiations' }}highlight{{end}}">
  <a href="/sample-records/description-document-with-instantiations">Description Document With Instantiations</a>
</p>
<p class="sample-rec-wide {{ if page.url == '/description-document' }}highlight{{end}}">
  <a href="/sample-records/description-document">Description Document</a>
</p>
<p class="sample-rec-wide {{ if page.url == '/instantiation' }}highlight{{end}}">
  <a href="/sample-records/instantiation">Instantiation</a>
</p>
