---
---

@import url(http://fonts.googleapis.com/css?family=Lato|Bree+Serif);

$blue: #358ff2;
$red: #f5463e;
$green: #36b431;
$dark-grey: #4d4d4d;

body {color: #333;
    font-family: 'Lato', sans-serif;
    padding-top: 66px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bree Serif', serif;
}

p {
    line-height: 20px;
}

.primary_nav_container {
  position: fixed;
  top: 0;
  left: 0;
  background: #f2f2f2;
  height: 100px;
  width: 100%;

  a {
    font-size: 30px
  }

  img {
    float: left;
    width: 150px;
    object-fit: contain;
  }

  .navbar-collapse ul {
  	list-style: none;
  	position: relative;
  	float: left;
  	margin: 0;
  	padding: 0;


    li {

      a {
    	display: block;
    	text-decoration: none;
    	font-size: 16px;
    	line-height: 32px;
    	padding: 0 15px;
      }
    }
  }
}


.primary_nav_container ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

.primary_nav_container.dropdown-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: white;
	padding: 0
}

.primary_nav_container.dropdown-menu a {
	float:none;
	width:200px
}

.primary_nav_container ul ul a {
	line-height: 120%;
	padding: 10px 15px;
}

.menu_about a {
color: $blue;
}

.menu_schema a {
color: $green;
}

.menu_resources a {
color: $red;
}

.menu_community a {
color: $dark-grey;
}

.menu_about ul li:hover {
  background: $blue;
}

.menu_schema ul li:hover {
  background: $green;
}

.menu_resources ul li:hover {
  background: $red;
}

.menu_community ul li:hover {
  background: $dark-grey;
}

.primary_nav_container ul li ul li:hover a {
  color: white;
}

.primary_nav_container ul li:hover ul {
	display: block;
}

.dropdown:hover .dropdown-menu {
display: block;
}

.footer_nav_container {
  background: #f2f2f2;
  border-bottom: 2px solid #ccc;
  height: 66px;
  width: 100%;
  padding: 10px 10px;
}

.footer_nav_container ul {
	list-style: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0
}

.footer_nav_container li {
	padding: 5px 5px
}

.footer_nav_container a {
color: #333333;
text-decoration: none;
}

footer img {
  float: left;
  width: 200px;
  object-fit: contain;
}

.btn {
  outline-color: black;
  outline-style: solid;
  outline-width: thin;
  padding: 5px 5px 5px 5px;
  background: white;
}

section {
  padding: 25px 10px;
  text-align: center;
}

section p {
  padding: 10px 10px 10px 10px;
}

#what-is-pbcore h2 {
  color: #358ff2;
  font-size: 53px;
  padding: 10px 10px;

}
#getting-started {
  background-image: url("/assets/images/01_getting started flag_box.png");
  background-repeat: no-repeat;
  background-size: 1125px;
  background-position: center
}

#getting-started h2 {
  color: #ffffff;
  font-size: 38px;
  padding: 10px 10px;
}

#getting-started p {
  color: #ffffff;
  font-size: 21px;
  padding: 10px 10px;
}

#who-uses-pbcore h2 {
  color: #f5463e;
  font-size: 53px;
  padding: 10px 10px
}

#accessing-tools {
  background-image: url("/assets/images/01_accessing tools_box.png");
  background-repeat: no-repeat;
  background-size: 1125px;
  background-position: center
}

#accessing-tools h2 {
  color: #f5463e;
  font-size: 25px;
  padding: 10px 10px
}
