@import url(https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab);
body {
  color: #333;
  font-family: 'Roboto', sans-serif;
  padding-top: 66px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto+Slab', serif; }

p {
  line-height: 20px; }

a:hover {
  text-decoration: none; }

.primary_nav_container {
  position: fixed;
  z-index: 2001;
  top: 0;
  left: 0;
  background: #f2f2f2;
  height: 100px;
  width: 100%; }
  .primary_nav_container a {
    font-size: 30px; }
  .primary_nav_container img {
    float: left;
    width: 150px;
    object-fit: contain; }
  .primary_nav_container .navbar-collapse ul {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0; }
    .primary_nav_container .navbar-collapse ul li a {
      display: block;
      text-decoration: none;
      font-size: 16px;
      line-height: 32px;
      padding: 0 15px; }

.menu_about a {
  color: #358ff2; }

.menu_schema a {
  color: #36b431; }

.menu_resources a {
  color: #f5463e; }

.menu_community a {
  color: #4d4d4d; }

.menu_about div a:hover {
  background: #358ff2;
  color: white; }

.menu_schema div a:hover {
  background: #36b431;
  color: white; }

.menu_resources div a:hover {
  background: #f5463e;
  color: white; }

.menu_community div a:hover {
  background: #4d4d4d;
  color: white; }

.footer-msg {
  font-size: 12px;
  font-weight: bold; }

.footer-copyright {
  font-size: 48px;
  font-weight: bold; }

.footer-copyright-sub {
  color: #ccc;
  font-size: 14px; }

.footer-brand {
  margin-right: 10px;
  height: 6em; }

.dropdown-toggle::after {
  display: none; }

.dropdown-menu {
  border-radius: 0px; }

.dropdown:hover .dropdown-menu {
  display: block; }

li.nav-item.dropdown {
  position: relative; }

.dropdown::before {
  content: '';
  position: absolute;
  width: 104%;
  height: 104%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001; }

.dropdown-menu::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  top: -4px;
  z-index: 1000; }

.dropdown-menu.menu_about::before {
  background-color: #358ff2; }

.dropdown-menu.menu_schema::before {
  background-color: #36b431; }

.dropdown-menu.menu_resources::before {
  background-color: #f5463e; }

.dropdown-menu.menu_community::before {
  background-color: #4d4d4d; }

footer {
  background: #f2f2f2;
  border-bottom: 2px solid #ccc;
  width: 100%;
  padding: 10px 10px; }

footer a {
  color: #333333;
  text-decoration: none; }

footer img {
  float: left;
  width: 200px;
  object-fit: contain; }

.btn {
  outline-color: black;
  outline-style: solid;
  outline-width: thin;
  padding: 5px 5px 5px 5px;
  background: white; }

section {
  padding: 25px 50px 45px;
  text-align: center;
  border-radius: 18px; }

section p {
  padding: 10px 10px 10px 10px; }

h2.title {
  font-size: 53px;
  padding: 10px 10px; }

h2.med-title {
  font-size: 38px;
  padding: 10px 10px; }

.red {
  color: #f5463e; }

.blue {
  color: #358ff2; }

.green {
  color: #36b431; }

.white {
  color: #fff; }

.grey {
  background-color: #eee; }

.red-back {
  background-color: #f5463e; }

.grey-back {
  background-color: #eee; }

.dark-grey-back {
  background-color: #4d4d4d; }

.blue-back {
  background-color: #358ff2; }

.no-back {
  background-color: transparent; }

#getting-started {
  background-image: url("/assets/images/01_getting_started_flag_box.png");
  background-repeat: no-repeat;
  background-size: 1125px;
  background-position: center;
  color: #fff; }

#getting-started p {
  color: #ffffff;
  font-size: 21px;
  padding: 10px 10px; }

#accessing-tools {
  background-image: url("/assets/images/01_accessing_tools_box.png");
  background-repeat: no-repeat;
  background-size: 1125px;
  background-position: center; }

.pb-button {
  padding-left: 1.8%;
  padding-right: 1.8%;
  padding-top: 1.2%;
  padding-bottom: 1.2%; }

.pb-button-learn {
  background-color: #fff;
  border: 1px #000 solid;
  color: #66e; }

.pb-button-learn:hover {
  background-color: #66e;
  color: #fff; }

.pb-button-getting {
  background-color: #ccc;
  border: 1px #000 solid;
  color: #222; }

.pb-button-getting:hover {
  background-color: #222;
  border: 1px #000 solid;
  color: #ccc; }

.pb-button-who {
  background-color: #fff;
  border: 1px #000 solid;
  color: #e44; }

.pb-button-who:hover {
  background-color: #e44;
  border: 1px #000 solid;
  color: #fff; }

.pb-button-tools {
  background-color: #444;
  border: 1px #000 solid;
  color: #fff; }

.pb-button-tools:hover {
  background-color: #fff;
  border: 1px #000 solid;
  color: #444; }

.med-text {
  font-size: 20px; }

.icon {
  height: 3.4em;
  width: 3.4em;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 !important; }

.big-icon {
  height: 4.4em;
  width: 4.4em;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 !important; }

.huge-icon {
  height: 8.4em;
  width: 8.4em;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 !important; }

.ib {
  display: inline-block; }

.icon-col {
  margin-left: 2.4%;
  margin-right: 2.4%; }

.cataloging {
  background-image: url("/assets/images/icons/cataloging.png"); }

.databases {
  background-image: url("/assets/images/icons/databases.png"); }

.vocabularies {
  background-image: url("/assets/images/icons/vocabularies.png"); }

.collection_management {
  background-image: url("/assets/images/icons/collection_management.png"); }

.exchange {
  background-image: url("/assets/images/icons/exchange.png"); }

.spreadsheets {
  background-image: url("/assets/images/icons/spreadsheets.png"); }

.indent-1 {
  margin-left: 1em; }

.indent-2 {
  margin-left: 2em; }

.indent-3 {
  margin-left: 3em; }

.pb-list {
  list-style: none; }

.spread-title {
  width: 100%;
  display: block;
  padding: 0.8%;
  margin-bottom: 2%; }

.bold {
  font-weight: bold; }

.light {
  font-weight: 100; }

#faq h1, #faq h2, #faq a, #faq div {
  color: #358ff2;
  text-align: left; }

#glossary h1, #glossary h2, #glossary a, #glossary div {
  color: #358ff2;
  text-align: left; }

.faq-background {
  background-image: url("/assets/images/03_faqs_background-icon.png"); }

.arrow-icon {
  background-repeat: no-repeat;
  height: 20px;
  width: 30px;
  background-size: contain; }

.arrow-down {
  background-image: url("/assets/images/03_faqs_arrow_down_icon.png"); }

.arrow-up {
  background-image: url("/assets/images/03_faqs_arrow_up_icon.png"); }

.arrow-down:hover {
  background-image: url("/assets/images/03_faqs_arrow_down_icon_rollover.png"); }

.arrow-up:hover {
  background-image: url("/assets/images/03_faqs_arrow_up_icon_rollover.png"); }

.accordion {
  margin-bottom: 60px; }

.card {
  border: 0px !important; }

.faq-answer {
  font-weight: 100; }

.faq-section-header {
  font-weight: bold;
  font-size: 24px; }

.separator {
  border-bottom: 1px solid #999999;
  padding: 5px; }

img.faq {
  height: 80px;
  object-fit: contain; }

span.definition-icon {
  background-image: url("/assets/images/06_definition_icon.png");
  background-repeat: no-repeat;
  float: left;
  height: 40px;
  width: 40px;
  background-size: contain; }

.attribute-name {
  text-align: right !important; }

.attribute-list ul {
  list-style-type: none; }

.attribute-list p {
  margin: 0 0 0 0; }

div.spacing {
  height: 20px; }

#element-accordion ul {
  list-style-type: none;
  font-size: 12px; }

.element-arrow-icon {
  background-image: url("/assets/images/05_arrow_down_menu-button.png");
  background-repeat: no-repeat;
  height: 10px;
  width: 20px;
  background-size: contain;
  position: absolute;
  display: block;
  left: -1.2em;
  top: 1em; }

.element-arrow-down {
  background-image: url("/assets/images/05_arrow_down_menu-button.png"); }

.element-arrow-up {
  background-image: url("/assets/images/05_arrow_up_menu-button.png"); }

.element-arrow-down:hover {
  background-image: url("/assets/images/05_arrow_down_menu-button_rollover.png"); }

.element-arrow-up:hover {
  background-image: url("/assets/images/05_arrow_up_menu-button_rollover.png"); }

.sidebar-nav h4 {
  font: Roboto;
  font-size: 17px;
  color: #000000; }

.sidebar-nav h5 a {
  font: Roboto;
  font-size: 16px;
  color: #000000; }

.sidebar-indent {
  margin-left: 1em; }

.card-header {
  padding-left: 0; }

.card-body {
  padding-left: 0em;
  padding-top: 0em; }

div.card {
  padding: 0; }

div.card-header {
  background-color: transparent !important;
  border-bottom: 0px !important;
  border-top: 1px solid black !important;
  border-radius: 0 !important; }

.card.separator {
  border-radius: 0;
  border-right: 1px solid black !important;
  border-right: 1px solid black !important; }
