<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    <div class="container-fluid">
      <div class="main-col-margin" >

        <div class="row">
          <div class="col-md-12">
            {% include header.html %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="margin-top:6em; margin-bottom:3.6em;">
            {{ content }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            {% include footer.html %}
          </div>
        </div>

      </div>
    </div>

  </body>
</html>
