---
layout: default
---
<div class="row">
  <div class="col-md-3">
    {% include element_sidebar.html %}
  </div>
  <div class="col-md-9">

    <span class="definition-icon def-elements"></span>

    <h3 class="green">Elements defined</h3>

    <h2 class="ele-title-highlight">{{ page.name }}</h2>

    <p>{{ site.data.element_defs[page.name].definition }}</p>

    {% if site.data.element_defs[page.name].best-practice %}

      <p><span class="green">Best Practice: </span><span>{{ site.data.element_defs[page.name].best-practice }}</span></p>
    {% endif %}

    <p><span class="green">Usage: </span><span>{{ site.data.element_defs[page.name].usage }}</span></p>

    <h3 class="green">Attributes</h3>

    {% if page.attributes %}
      <ul class="attribute-container">
        {% for attribute in page.attributes %}
          <li>
            <span class="bolder attribute-name">{{ attribute.name }}: </span>
            <span class="attribute-note">{{ attribute.note }}</span>
            | <span class="attribute-def">{{ site.data.attributes[attribute.name].definition }}</span>
          </li>

        {% endfor %}
      </ul>
    {% else %}

      <p>This element cannot have any attributes.</p>
    {% endif %}

    <h3 class="green">Subelements</h3>

    {% if page.subelements %}
      <ul class="attribute-container">
        {% for subelement in page.subelements %}
          <li>
            <span class="bolder attribute-name">{{ subelement.name }}: </span>
            <span class="attribute-note">{{ subelement.note }}</span>
            | <span class="attribute-def">{{ site.data.element_defs[subelement.name].definition }}</span>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>This element does not have any subelements.</p>
    {% endif %}

    {% if page.controlled-vocabs %}
      <h3 class="green">Controlled Vocabularies</h3>
      <ul class="pb-list">
        {% for item in page.controlled-vocabs %}
          <li class="black">
            {{ item.vocab }}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <h3 class="green">Example</h3>

    {{ content }}
  </div>
</div>
