---
layout: default
---
<div class="row">
  <div class="col-md-3">
    {% include element_sidebar.html %}
  </div>
  <div class="col-md-9">
    <span class="definition-icon def-elements"></span>
    <h3 class="green">Elements defined</h3>
    {{ content }}

    <div class="row">
      <div class="col-md-12 text-center">
      <a class="" href="{{ site.url }}/elements/element-hierarchy.html"><button class="pb-button-element-hierarchy">VIEW ELEMENTS IN XML HIERARCHICAL ORDER</button></a>

      </div>

    </div>
  </div>
</div>
