---
layout: default
---
<div class="row">
  <div class="col-md-3">
    {% include vocab_sidebar.html %}
  </div>
  <div class="col-md-9">

    <div class="row">
      <div class="col-md-12">
        <h2 class="green">{{ page.name }}</h2>
      </div>
    </div>

    <div class="row" style="margin-top: 1em; margin-bottom: 1em; padding-left: 1em; font-size: 18px;">
      <div class="col-md-12">
          <span class="green">Usage: </span><span>{{ page.usage }}</span>
      </div>
    </div>

    <h3 class="green">Terms</h3>

    <ul class="attribute-container" style="padding-left: 1em;">
      {% for term in page.terms %}
        <li>
          <div id="{{term.id}}" class="bolder vocab-term">{{ term.term }}:</div>
          <div class="attribute-note">{{ term.definition }}</div>
        </li>
      {% endfor %}
    </ul>

    {{ content }}
    <p>View on the <a class="green" href="{{ page.omr-link }}">Open Metadata Registry</a></p>
  </div>
</div>
